*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}
@font-face {
	font-family: 'Cassandra';
	src: url('../fonts/Cassandra.ttf')
}
@font-face {
	font-family: 'Lovya';
	src: url('../fonts/Lovya.otf')
}
body {
	margin: 0;
	--color-text: #1c1b1b;
	/*--color-bg: #efe6e1;*/
	background: #222222;
	--color-link: floralwhite;
	--color-link-hover: #000;
	--color-deco: #424242;
	color: floralwhite;
	font-family: Futura, "futura-pt", sans-serif;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

/*[data-scroll] {*/
/*	will-change: transform;*/
/*}*/
button{
	background: lightpink;
	border: none;
	border-radius: 20px;
	width: 100px;
	height:35px;
	font-size: 15px;
	color: #222222;
	font-weight: bold;
	position: absolute;
	bottom: 2rem;
	right: 2rem;
}
button:hover{
	cursor: pointer;
	color: white;
}

.content {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	padding: 12rem 0;
	counter-reset: figure;
	margin-top: -180px;
}

.item {
	margin: 10vh auto;
	max-width: 100%;
	position: relative;
	will-change: transform;
}

.item::before {
	counter-increment: figure;
	content: counter(figure, decimal-leading-zero);
	position: absolute;
	font-family: paralucent, sans-serif;
	font-size: 4rem;
	color: var(--color-deco);
	bottom: calc(100% - 1rem);
	margin: 1rem;
}

.item:nth-child(even)::before {
	right: 0;
}

.item__img-wrap {
	--aspect-ratio: 1/1.5;
	overflow: hidden;
	width: 500px;
	margin: 0 auto;
	padding-bottom: calc(100% / (var(--aspect-ratio)));
	max-width: calc(100% - 2rem);
	will-change: transform;
	filter: grayscale(100%) ;
}

.item:first-child .item__img-wrap {
	width: 1000px;
	--aspect-ratio: 120/76;
	--image: url(img/1.jpg);
}

.item:nth-child(2) .item__img-wrap {
	width: 1000px;
	--aspect-ratio: 120/76;
	--image: url(img/2.jpg);
}

.item:nth-child(3) .item__img-wrap {
	width: 1000px;
	--aspect-ratio: 120/76;
	--image: url(img/3.jpg);
}

.item:nth-child(4) .item__img-wrap {
	width: 1000px;
	--aspect-ratio: 120/76;
	--image: url(img/4.jpg);
}

.item:nth-child(5) .item__img-wrap {
	width: 1000px;
	--aspect-ratio: 120/76;
	--image: url(img/5.jpg);
}

.item:nth-child(6) .item__img-wrap {
	width: 1000px;
	--aspect-ratio: 120/76;
	--image: url(img/6.jpg);
}

.item:nth-child(7) .item__img-wrap {
	width: 1000px;
	--aspect-ratio: 120/76;
	--image: url(img/7.jpg);
}

.item:nth-child(8) .item__img-wrap {
	width: 1000px;
	--aspect-ratio: 120/76;
	--image: url(img/8.jpg);
}

.item:nth-child(9) .item__img-wrap {
	width: 1000px;
	--aspect-ratio: 120/76;
	--image: url(img/9.jpg);
}

.item__img {
	--overflow: 40px;
	height: calc(100% + (2 * var(--overflow)));
	top: calc( -1 * var(--overflow));
	width: 100%;
	position: absolute;
	background-image: var(--image);
	background-size: cover;
	background-position: 50% 0%;
	will-change: transform;
}

.item__img--t1 {
	--overflow: 60px;
}

.item__img--t2 {
	--overflow: 80px;
}

.item__img--t3 {
	--overflow: 120px;
}

.item__caption {
	padding: 1rem 1rem 0 1rem;
	width: 500px;
}

.item__caption-title {
	font-family: Lovya, serif;
	font-weight: bolder;
	font-size: 3rem;
	margin: 0 0 -25px 0;
	color: floralwhite;
	opacity: 80%;
}

.item__caption-copy {
	margin: 0 8rem 0 0;
	opacity: 80%;
	font-weight: lighter;
}

.item__caption-copy::before {
	content: '__';
	line-height: 1;
	color: var(--color-link);
	font-weight: 700;
	font-size: 3rem;
	margin: 0 0 1rem;
	display: block;
}
p.the-end{
	font-family: Lovya, serif ;
	font-weight: lighter;
	font-size: 55px;
	margin-left: 100px;
}
p.wishes{
	font-size: 15px;
	color: floralwhite;
	opacity: 80%;
	font-style: italic;
	margin-bottom:2px;
}
p.date{
	font-size: 14px;
	color: floralwhite;
	opacity: 80%;
	font-style: italic;
	margin-left: 200px;
	margin-top: 0;
}
