body {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.85rem;
    background-image: url(image.jpg);
    --color-title: lightpink;
}
.content__title {
	/*-webkit-text-stroke: 2px var(--color-title);*/
	/*text-stroke: 5px var(--color-title);*/
	/*-webkit-text-fill-color: transparent;*/
	text-fill-color: lightpink;
	color: lightpink;
    font-size: 8vw;
    font-weight: 800;
}
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px); /* Adjust the distance to move up */
    }
    100% {
        transform: translateY(0);
    }
}
img{
    animation: moveUpDown 4s infinite ease-in-out; /* Adjust duration as needed */
    width: 160px;
    align-self: center;
    opacity: 80%;
    filter: wave(10px);
}

